.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body, h1, h2, h3, p, ul, li, button {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #e3e7f2cf;
}

.App {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  color: #464d6a;
  margin-bottom: 20px;
}

header {
  background-color: #131921;
  color: white;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.product-list, .cart-container {
  background-color: rgb(197, 203, 227);
  padding: 20px;
  margin-bottom: 20px;
}

.product-item, .cart-item {
  border-bottom: 1px solid #ecaaaa;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.product-item img, .cart-item img {
  width: 80px;
  margin-right: 20px;
}

button {
  background-color: #8b8de4;
  border: 1px solid;
  border-color: #131a13 #2c322c #0c0e0c;
  color: #111;
  padding: 5px 5px;
  cursor: pointer;
  margin-left: auto;
}

button:hover {
  background-color: #a59ae9;
}
.checkout-button {
  background-color: #f08804; 
  font-size: 16px;
  padding: 10px 20px;
  margin: 20px 0; 
  border: none;
  cursor: pointer;
  display: block; 
  width: 100%; 
  max-width: 200px; 
  margin-left: auto; 
  margin-right: auto;
}

.checkout-button:hover {
  background-color: #cc7700; 
}
